html {
    padding: 0;
}

body {
    width: 960px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

label {
    color: black;
}

.contact-form fieldset {
    margin: 0 auto;
    width: 400px;
    border: 0;
}

.contact-form input[type=text] {
    width: 255px;
}

.contact-form input, textarea {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    margin: 10px 0 10px 50px;
}

.contact-form input[type=submit] {
    margin-left: 130px;
    margin-top: 20px;
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.error {
    color: red;
    font: 12pt verdana;
    padding-left: 50px;
}

.message-box {
    text-align: center;
}